@{
    string rooms = "";
    string beds = "";
    decimal totalCost = 0.00M;
    TimeSpan dayCount = DateTime.Parse(Request.Cookies["endDate"].Value) - DateTime.Parse(Request.Cookies["startDate"].Value);

    if (!Request["Rooms"].IsEmpty())
    {
        rooms = Request["Rooms"];
    }
    if (!Request["ExtraBed"].IsEmpty())
    {
        beds = Request["ExtraBed"];
    }
    List<string> roomList = new List<string>(rooms.Split(new char[]{','}));
    List<string> bedList = new List<string>(beds.Split(new char[]{','}));

    if (IsPost && Request["submit"] == "Confirm")
    {
        var valid = 1;
        if (!Request["roomField"].IsEmpty())
        {
            rooms = Request["roomField"];
        }
        if (!Request["bedField"].IsEmpty())
        {
            beds = Request["bedField"];
        }
        if (Request["cardList"].IsEmpty())
        {
            valid = 0;
        }
        roomList = new List<string>(rooms.Split(new char[]{','}));
        bedList = new List<string>(beds.Split(new char[]{','}));

        var db = Database.Open("cs4400_Group_86");
        if (valid == 1) { 
        db.Execute("INSERT INTO Reservation (CUserName, cardNum, start, end, cost) VALUES (@0, @1, @2, @3, @4)",
            Request.Cookies["UserName"].Value, Request["cardList"], Request.Cookies["startDate"].Value, Request.Cookies["endDate"].Value, Request["total"]);
        var reservationID = db.QuerySingle("SELECT LAST_INSERT_ID() AS id").id;
        foreach (string room in roomList)
        {
            var extraBedFlag = 0;
            if(bedList.Exists(r => r == room))
            {
                extraBedFlag = 1;
            }
            db.Execute("INSERT INTO ReservationHasRoom (reservationID, extraBedFlag, roomNum, location) VALUES (@0, @1, @2, @3)",
                reservationID, extraBedFlag, room, Request["location"]);
        }
        }
        db.Close();
        Response.Redirect("~/reservation_view");
    }
}
<!DOCTYPE html>

<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Confirm Reservation</title>
    <link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/FancyHotelsIndex.css">
  </head>
    <body>
        <h1>Confirm Reservation</h1>
        <div>
            <form method="post">
            <table>
                <thead>
                    <tr>
                        <th><h2>Location: @Request["location"]</h2></th>
                    </tr>
                    <tr>
                        <th>Dates: @Request.Cookies["startDate"].Value to @Request.Cookies["endDate"].Value</th>
                    </tr>
                    <tr>
                        <th>Room #</th>
                        <th>Total # Days:</th>
                        <th>Extra Bed</th>
                        <th>Category</th>
                        <th>Total Cost:</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(string room in roomList)
                    {
                        using (var db = Database.Open("cs4400_Group_86"))
                        {
                            var roomLine = db.QuerySingle("SELECT costPerDay, extraBedCost, category FROM Room WHERE roomNum = @0", room);
                            var roomCost = roomLine.costPerDay * dayCount.Days;
                            <tr>
                                <td>@room</td>
                                <td>@dayCount.Days</td>
                                @if(bedList.Exists(r => r == room))
                                {
                                    roomCost += roomLine.extraBedCost * dayCount.Days;
                                    <td>$@roomLine.extraBedCost</td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                <td>@roomLine.category</td>
                                <td>$@roomCost</td>
                            </tr>
                            totalCost += roomCost;
                        }
                    }
                    <tr>
                        <td></td>
                        <td></td>
                        <td><b>Total Reservation Cost: </b></td>
                        <td></td>
                        <td>$@totalCost</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td><input type="submit" name="submit" value="Confirm" /></td>
                        <td>Pay using:</td>
                        <td>
                            <select class="form-control" name="cardList">
	                            @using (var db = Database.Open("cs4400_Group_86"))
                                 {
                                    foreach (var row in db.Query("SELECT cardNum FROM PaymentInfo WHERE CUserName = @0", Request.Cookies["UserName"].Value))
                                    {
                                        string lastFour = row.cardNum.ToString();
                                        lastFour = "xxxx xxxx xxxx " + lastFour.Substring(lastFour.Length - 4);
                                        <option value="@row.cardNum.ToString()">@lastFour</option>
                                    }
                                 }
	                        </select>
                        </td>
                        <td><a href="~/credit">Modify Payment Options</a></td>
                    </tr>
                </tfoot>
            </table>
            <input type="hidden" name="total" value="@totalCost" />
            <input type="hidden" name="location" value="@Request["location"]" />
            <input type="hidden" name="roomField" value="@Request["Rooms"]" />
            <input type="hidden" name="bedField" value="@Request["ExtraBed"]" />
            </form>
        </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </body>
</html>
