@{
    string rooms = "";
    string beds = "";
    decimal totalCost = 0.00M;
  
    if (!Request["Rooms"].IsEmpty())
    {
        rooms = Request["Rooms"];
    }
    if (!Request["ExtraBed"].IsEmpty())
    {
        beds = Request["ExtraBed"];
    }
    List<string> roomList = new List<string>(rooms.Split(new char[]{','}));
    List<string> bedList = new List<string>(beds.Split(new char[]{','}));
}
<!DOCTYPE html>

<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Confirm Reservation</title>
    <link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/FancyHotelsIndex.css">
  </head>
    <body>
        <h1>Confirm Reservation</h1>
        <div>
            <form method="post">
            <table>
                <thead>
                    <tr>
                        <th><h2>Location: @Request["location"]</h2></th>
                    </tr>
                    <tr>
                        <th>Dates: @Request.Cookies["startDate"].Value to @Request.Cookies["endDate"].Value</th>
                    </tr>
                    <tr>
                        <th>Room #</th>
                        <th>Extra Bed</th>
                        <th>Category</th>
                        <th>Total Cost:</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(string room in roomList)
                    {
                        using (var db = Database.Open("cs4400_Group_86"))
                        {
                            var roomLine = db.QuerySingle("SELECT costPerDay, extraBedCost, category FROM Room WHERE roomNum = @0", room);
                            var roomCost = roomLine.costPerDay;
                            <tr>
                                <td>@room</td>
                                @if(bedList.Exists(r => r == room))
                                {
                                    roomCost += roomLine.extraBedCost;
                                    <td><strong>$@roomLine.extraBedCost</strong></td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                <td>@roomLine.category</td>
                                <td>$@roomCost</td>
                            </tr>
                            totalCost += roomCost;
                        }
                    }
                    <tr>
                        <td></td>
                        <td>Total Reservation Cost: </td>
                        <td></td>
                        <td>$@totalCost</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td><input type="submit" name="submit" value="Confirm" /></td>
                        <td>Pay using:</td>
                        <td>
                            <select class="form-control" name="cardList">
	                            @using (var db = Database.Open("cs4400_Group_86"))
                                 {
                                    foreach (var row in db.Query("SELECT cardNum FROM PaymentInfo WHERE CUserName = @0", Request.Cookies["UserName"].Value))
                                    {
                                        string lastFour = row.cardNum.ToString();
                                        lastFour = "xxxx xxxx xxxx " + lastFour.Substring(lastFour.Length - 4);
                                        <option value="@row.cardNum.ToString()">@lastFour</option>
                                    }
                                 }
	                        </select>
                        </td>
                    </tr>
                </tfoot>
            </table>
            </form>
        </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </body>
</html>
