@{
    var queryString = "SELECT DISTINCT roomNum, category, numPeople, costPerDay, ExtraBedCost FROM Reservation NATURAL JOIN ReservationHasRoom NATURAL RIGHT OUTER JOIN Room " +
        "WHERE Room.roomNum NOT IN (SELECT Room.roomNum FROM Reservation NATURAL JOIN ReservationHasRoom NATURAL RIGHT OUTER JOIN Room " + 
                "WHERE (END >  @0 AND START < @1 AND cancelled = 0 AND location = @2)) " + 
        "AND location = @2 ORDER BY Room.roomNum";
}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Search</title>
    <link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/FancyHotelsIndex.css">
  </head>
  <body>
 	  <!-- Searcg Page -->
    <div class="section">
  		<h3 class="center">Search for the room of your dreams</h3>
        <form method="post">
        <select class="form-control" style="margin-top: 20px" name="location">
          <option value="Atlanta">Atlanta</option>
          <option value="Charlotte">Charlotte</option>
          <option value="Savannah">Savannah</option>
          <option value="Orlando">Orlando</option>
          <option value="Miami">Miami</option>
        </select>
      <div class="input-group input-daterange" style="margin-top: 20px">
          <input type="date" class="form-control" value="2015-12-03" name="startDate">
          <span class="input-group-addon">to</span>
          <input type="date" class="form-control" value="2015-12-04" name="endDate">
      </div>
      <input type="submit" class="btn btn-default" style="margin-top: 20px" name="submit" value="Search"/>
    </form>
    </div>
    <div>
        <form method="post" action="~/make_reservation">
            <input type="hidden" name="location" value="@Request["location"]" />
            <table>
                <thead>
                    <tr >
                        <th><h2>Location: @Request["location"]</h2></th>
                    </tr>
                    <tr>
                        <th>Dates: @Request["startDate"] to @Request["endDate"]</th>
                    </tr>
                    <tr>
                        <th>Select Room</th>
                        <th>Room #</th>
                        <th>Category</th>
                        <th># people allowed</th>
                        <th>Cost per Day</th>
                        <th>Extra Bed (per Day)</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if(IsPost && Request["submit"] == "Search")
                        {
                            using (var db = Database.Open("cs4400_Group_86"))
                            {
                                foreach(var row in db.Query(queryString, Request["startDate"], Request["endDate"], Request["location"]))
                                {
                                    <tr> 
                                        <td><input type="checkbox" name="Rooms" value="@row.roomNum" /></td>
                                        <td>@row.roomNum</td>
                                        <td>@row.category</td>
                                        <td>@row.numPeople</td>
                                        <td>@row.costPerDay</td>
                                        <td>@row.ExtraBedCost <input type="checkbox" name="ExtraBed" value="@row.roomNum" /></td>
                                    </tr>
                                }
                            }
                        }
                    }
                </tbody>
            </table>
            <input type="submit" name="submit" value="Book"/>
         </form>
    </div>      
      
    <!-- END Search Page -->
	  </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>