@{
    var queryString = "SELECT DISTINCT roomNum, category, numPeople, costPerDay, ExtraBedCost FROM Reservation NATURAL JOIN ReservationHasRoom NATURAL RIGHT OUTER JOIN Room " +
        "WHERE Room.roomNum NOT IN (SELECT Room.roomNum FROM Reservation NATURAL JOIN ReservationHasRoom NATURAL RIGHT OUTER JOIN Room " + 
                "WHERE (END >  @0 AND START < @1 AND cancelled = 0 AND location = @2 AND reservationID != @3)) " + 
        "AND location = @2 AND roomNum = @4 ORDER BY Room.roomNum";

    var db = Database.Open("cs4400_Group_86");
    var rows = db.Query("SELECT * FROM Reservation NATURAL JOIN ReservationHasRoom NATURAL JOIN Room WHERE reservationID = @0", UrlData[0]);
    
    decimal newResCost = 0.00M;
    bool available = true;
    var location = rows.First().location;
    DateTime startDate = rows.First().start;
    DateTime endDate = rows.First().end;
    db.Close();

    if (IsPost && Request["submit"] == "Search")
    {
        TimeSpan daysInRes = endDate - startDate;
        decimal costPerDay = rows.First().cost / daysInRes.Days;

        var db2 = Database.Open("cs4400_Group_86");
        foreach (var row in rows)
        {
            if (db.QuerySingle(queryString, Request["startDateNew"], Request["endDateNew"], location, row.reservationID, row.roomNum) == null)
            {
                available = false;
            }
        }
        TimeSpan newDayCount = DateTime.Parse(Request["endDateNew"]) - DateTime.Parse(Request["startDateNew"]);
        newResCost = costPerDay * newDayCount.Days;
        db2.Close();
    }
    else if (IsPost && Request["submit"] == "Confirm Date Change")
    {
        using (var db3 = Database.Open("cs4400_Group_86"))
        {
            db3.Execute("UPDATE Reservation SET start = @0, end = @1, cost = @2 WHERE reservationID = @3", 
                Request["startDateNew"], Request["endDateNew"], Request["resCost"], rows.First().reservationID);
        }
        Response.Redirect("~/reservation_view");
    }
    else if (IsPost && Request["submit"] == "Cancel Reservation")
    {
        
    }
}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reservation</title>
    <link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/FancyHotelsIndex.css">
  </head>
  <body>
 	  <!-- Searcg Page -->
    <div class="section">
  		<h3 class="center">Update Reservation</h3>
        <form method="post">
      <div class="input-group input-daterange" style="margin-top: 20px">
          <input type="date" class="form-control" value='@startDate.ToString("yyyy-MM-dd")' name="startDateNew">
          <span class="input-group-addon">to</span>
          <input type="date" class="form-control" value='@endDate.ToString("yyyy-MM-dd")' name="endDateNew">
      </div>
      <input type="submit" class="btn btn-default" style="margin-top: 20px" name="submit" value="Search"/>
    </form>
    </div>
    <div>
        <form method="post">
            <input type="hidden" name="startDateNew" value="@Request["startDateNew"]" />
            <input type="hidden" name="endDateNew" value="@Request["endDateNew"]" />
            <table>
                <thead>
                    <tr >
                        <th><h2>Location: @location</h2></th>
                    </tr>
                    <tr>
                        <th>Dates: </th>
                        <th>@startDate.ToShortDateString()</th>
                        <th style="text-align: center">to</th>
                        <th>@endDate.ToShortDateString()</th>
                    </tr>
                    <tr>
                        <th>Room #</th>
                        <th>Category</th>
                        <th># people allowed</th>
                        <th>Cost per Day</th>
                        <th>Extra Bed (per Day)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var row in rows)
                    {
                        <tr>
                            <td>@row.roomNum</td>
                            <td>@row.category</td>
                            <td>@row.numPeople</td>
                            <td>$@row.costPerDay</td>
                            <td>$@row.extraBedCost</td>
                        </tr>
                    }
                <tr>
                    <td><b>Current Reservation Total:</b></td>
                    <td><b>$@rows.First().cost</b></td>
                </tr>
                <tr>
                    <td>New Date Range:</td>
                    @if(available)
                    {
                        <td>@Request["startDateNew"]</td>
                        <td style="text-align: center">to</td>
                        <td>@Request["endDateNew"]</td>  
                    }
                    else
                    {
                        <td>Not Available</td>
                    }
                </tr>
                <tr>
                    <td><b>New Reservation Total:</b></td>
                    @if (available && newResCost > 0)
                    {
                        <td>$@newResCost</td>
                    }
                </tr>
                </tbody>
            </table>
            @if () 
            <input type="submit" name="submit" value="Confirm Date Change"/>
            <input type="submit" name="submit" value="Cancel Reservation" />
            <input type="hidden" name="resCost" value="@newResCost" />
         </form>
    </div>      
      
    <!-- END Search Page -->
	  </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>